name: Arduino 

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - name: Run arduino-builder
      uses: Legion2/arduino-builder-action@v2.0.0
      with:
      # Path to a single sketch
      #sketch: /github/workspace/ZansatVIII Ardu # optional
      # Directory in which to search for sketches
        sketchDirectory: ./ # optional, default is examples
      # Fully Qualified Board Name
        board: "arduino:avr:pro:cpu=8MHzatmega328"
      
    - name: Setup Arduino CLI
      uses: arduino/setup-arduino-cli@v1.0.0
      with:
        version: '0.x' # optional, default is 0.x
